# DB Browser for SQLite/ 디렉토리에 있는 모든 파일을 무시
DB Browser for SQLite/

# __pycache__/ 디렉토리에 있는 모든 파일을 무시
__pycache__/

# data/token.json  파일무시
token.json

# DiscordDB.db 파일무시
DiscordDB.db

# temp 디렉토리 무시
temp/

# log 디렉토리 무시
log/